<h3>Create New Set</h3>
	<%= form_for(@holder) do |f| %> 

	<%= f.label :name %>
	<%= f.text_field :name, size: 75 %> 

	<%= f.label :description %>
	<%= f.text_area :description, cols: 50, rows: 5 %> 
	<br>

	<%= f.submit "Create My Set"%> 
<% end %>