<h1><%= @holder.name %></h1>
<h3><%= @holder.description %></h3>
<hr>
<%= render 'bingo_cards' %>
<h4>WorkSheets for <%= pluralize(@count, 'student') %></h4>
  <% @questions_array.each do |q| %>
     <b><%= q[0] %></b>
    <p>A <%= q[1] %></p>
    <p>B <%= q[2] %></p>
    <p>C <%= q[3] %></p>
    <p>D <%= q[4] %></p>
  <% end %>




		
  
