<div class="row">
  <div class="span6">
    <% if @questions.empty? %>
      <div class="questions">
      <h3>Let's add some questions</h3>
      <p>Time to add your first questions to this set. Simply add a question and the answer and once you've added enough, we'll be able to generate the class room activities and worksheets for you.<p>
    <% else %>
      <h3>Questions List</h3>
      <div class="questions">
        <% @questions.each do |question| %>
        <%= question.question %> 
        <li class="dropdown" id="<%= question.id %>" class="editmenu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="<%= question.id %>">
          <small>Edit</small>
        </a>
        <ul class="dropdown-menu menupadding">
          <li>
            <%= render 'questions/form' %>
          </li>
        </ul>
        </li>
        <li class="dropdown">| <%= link_to "Delete", question_path(question), method: "delete"%></li>
        <br />
        <b><%= question.answer %></b>
        <hr>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="span3">
    <% if @questions.count < 25  %>
     <div class="alert notice">
    <p>Please add <b><%= 25 - @questions.count  %></b> more questions so that we can generate your PDF</p>
  </div>
    <% else %>
    <%= link_to "Generate Activity Worksheets(PDF)", holder_path(@holder, :format => 'pdf'), class: "btn btn-primary btn-large" %>
    <% end %>
    <h3>Add a Question</h3>
    <%= render 'questions/form' %>
  </div>
</div>