<div class="row">

	<div class="span8">
		<h3>Questions List</h3>
		<% @questions.each do |question| %>
	<%= question.question %> 
	<%= link_to "Edit", edit_question_path(question) %> | 
	<%= link_to "Delete", question_path(question), method: "delete"%>
	<br />

	<b><%= question.answer %></b>
	<hr>
	
	<br />
<% end %>

	</div>

<h3>Add a Question</h3>
 	
   <%= form_for(@question)  do |f| %>

	<%= f.label :question %>
	<%= f.text_field :question,  :cols => 125, :rows => 4  %>

	<%= f.label :answer %>
	<%= f.text_field :answer,  :cols => 140 %>

	<%= f.hidden_field :holder_id, :value => @holder.id %>
	<br />

	<%= f.submit "Create Question" %>

<% end %>
  <h3>Generate Lesson Plan</h3>

   <%= form_tag(:controller => "/holders", :action=> "generate", :holder_id => @holder.id, format: "pdf") do %>
<%= label_tag(:count, "How Many Students?") %>
  <%= text_field_tag(:count) %>
  <%= submit_tag("Generate Course Lesson") %>
<% end %>








</div>





