<!DOCTYPE html>
<html>
<head>
  <title>Teacherjoy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/topnav' %>
  <div class="container">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %> 
    <% end %>
    <%= yield %>
    <hr>
    <footer>
      <p>© Teachjoy 2012</p>
    </footer>
  </div> 
  <div><%= debug(params) if Rails.env.development? %></div>
</body>
</html>
